# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Archivos de configuración de Docker
.docker/

# Archivos de entorno
.env

# Archivos de editor (Visual Studio Code, etc.)
.vscode/
.idea/

# Logs
*.log

# Archivos de sistema
.DS_Store
Thumbs.db
